<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.kit.edu/ProbeSpecification/2.0"
            class="edu.kit.ipd.sdq.probespec.probespecPackage"
            genModel="model/ProbeSpecification.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="probespec"
            class="edu.kit.ipd.sdq.probespec.util.probespecResourceFactoryImpl"/>
   </extension>

</plugin>
